*{
    margin: 0;
    padding: 0;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
html{
    background: color-mix(in srgb, #fd6, #000);
}
main{
    display: grid;
    grid-template: 
        "second board menu" 50vh
        "space board first" 50vh/
        1fr 100vh 1fr;
}
#board{
    grid-area: board;
    background: #000;
}
#tate1{
    margin: .5vh 0;
}
#tate2,#tate3,#tate4,#tate5,#tate6,#tate7,#tate8,#tate9{
    margin: 0 0 .5vh 0;
}
.tate{
    aspect-ratio: 10/1;
    display: flex;
    width: 100vh;
}
.yoko9{
    margin: 0 .5vh;
}
.yoko1,.yoko2,.yoko3,.yoko4,.yoko5,.yoko6,.yoko7,.yoko8{
    margin: 0 .5vh 0 0;
}
.yoko{
    background: #fd6;
    width: calc(95vh/9);
    height: calc(95vh/9);
}
.yoko:hover{
    background-color: color-mix(in srgb, #fd6, #fff 30%);
}
.yoko:active{
    background-color: #fd6;
}
#tate7>.yoko3,#tate4>.yoko3,#tate4>.yoko6,#tate7>.yoko6{border-radius: 15% 0 0 0;}
#tate4>.yoko7,#tate4>.yoko4,#tate7>.yoko7,#tate7>.yoko4{border-radius: 0 15% 0 0;}
#tate3>.yoko7,#tate3>.yoko4,#tate6>.yoko4,#tate6>.yoko7{border-radius: 0 0 15% 0;}
#tate3>.yoko6,#tate3>.yoko3,#tate6>.yoko6,#tate6>.yoko3{border-radius: 0 0 0 15%;}
.piece-hu{
    background-image: url(./assets/piece/black_pawn.png);
    background-size: 100%;
}
.piece-king{
    background-image: url(./assets/piece/black_king.png);
    background-size: 100%;
}
.piece-kin{
    background-image: url(./assets/piece/black_gold.png);
    background-size: 100%;
}
.piece-gin{
    background-image: url(./assets/piece/black_silver.png);
    background-size: 100%;
}
.piece-kei{
    background-image: url(./assets/piece/black_knight.png);
    background-size: 100%;
}
.piece-kyou{
    background-image: url(./assets/piece/black_lance.png);
    background-size: 100%;
}
.piece-hi{
    background-image: url(./assets/piece/black_rook.png);
    background-size: 100%;
}
.piece-kaku{
    background-image: url(./assets/piece/black_bishop.png);
    background-size: 100%;
}

.editor{
    background: #fd6;
    border: #000 solid .5vh;
    padding: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    >div{
        display: flex;
        >img{
            pointer-events: none;
            user-select: none;
            aspect-ratio: 1/1;
            width: 9vh;
            height: 9vh;
        }
        >p{
            user-select: none;
            pointer-events: none;
            font-size: 5vh;
            line-height: 9vh;
        }
        >p::before{
            content: "×";
        }
    }
    >div:hover{
        background: rgba(255, 255, 255, .35);
    }
    >div:active{
        background-color: #0000;
    }
}
#editor1{
    grid-area: first;
    border-left: none;
}
#editor2{
    grid-area: second;
    border-right: none;
}